/* static/theme.css*/

/*Theme color set_up */
header, footer { background-color: skyblue;} 
.main-content { background-color: powderblue;}
.sidebar { background: #41D3BD; }
nav {background: #41D3BD }

body {
    margin: 0;
    padding: 10px;
   /*  background-color: #41D3BD; */
}




/* ==== */

header,
footer {
    display: flex;
    

}

nav {
    border: 5px solid red;
    
    
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    flex: 1;

    border: 3px solid orange;
}
.nav-list li {
    flex-grow: 1;
}
.main-head {
}

.main-content {
    border: 5px solid red;
}

.main-body {

}

.news {
    border: 5px solid blue;
}

.pic {
    max-width: 100%;
    max-height: auto;
}
header {
}

footer {
}
